div.carousel-caption {
    opacity: 70%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
}

div.carousel-caption * {
    opacity: 100%;
}

#splash-carousel img {
    border-radius: 30px;
}