div.carousel-caption {
    opacity: 70%;
    border-radius: 30px;
}

div.carousel-caption * {
    opacity: 100%;
}

#splash-carousel img {
    border-radius: 30px;
    background-color: darkgray;
}