img {
    border-radius: 30px;
    background-color: var(--bs-primary);
    object-fit: cover;
}

.splash-container {
    text-align: center;
    position: relative;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.6);
    color: var(--bs-info);
}