<div class="splash-container d-flex flex-row justify-content-center align-items-center">
    <img src="{{imageUrl}}" width="{{width}}" height="{{height}}" alt="{{alt}}" class="my-1" />
    <div class="overlay-text rounded-3 p-3">
        <h1 class="text-nowrap">{{splashText}}</h1>
        <h6>{{splashSubtext}}</h6>
        <div class="technologies-block rounded-3">
            <span *ngFor="let tech of technologies" class="text-nowrap m-1" style="width: 1em;"><i class="icon icon-{{tech}}">&nbsp;</i> {{tech}}</span>
        </div>
    </div>
</div>