<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1 class="fw-light">ToDo Txt Web UI</h1>
            <p class="lead text-muted">An extention to the <a href="http://www.todotxt.com" class="link-dark">http://www.todotxt.com</a> project providing a rich web user interface for interacting with one's todo.txt file</p>
            <p>
                <a href="#" class="btn btn-primary mx-1">Live Demo</a>
                <a href="#" class="btn btn-secondary mx-1">View Code</a>
            </p>
        </div>
    </div>
</div>