nav * {
    color: #E2C044;
}

nav .dropdown-menu {
    background-color: #2E5266;
}
nav .dropdown-menu li:hover * {
    color: #2E5266;
    background-color: #9FB1BC;
    -webkit-tap-highlight-color: #9FB1BC;
}