.navbar-dark {
    color: var(--bs-light);
    background-color: var(--bs-dark);
}

.navbar-dark .navbar-brand {
    color: var(--bs-info);
}

.navbar-toggler {
    color: var(--bs-info);
}

.navbar-toggler * {
    color: var(--bs-info);
}

.navlink .dropdown-toggle {
    color: var(--bs-light);
}

nav .dropdown-menu {
    background-color: var(--bs-light);
}
nav .dropdown-menu .dropdown-item {
    color: var(--bs-dark);
}
nav .dropdown-menu .dropdown-item:hover {
    color: var(--bs-info);
    background-color: var(--bs-secondary);
}
