<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">JHS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav" *ngIf="siteMap.pages?.length">
        <li *ngFor="let m of siteMap.pages" class="nav-item {{(m.childPages?.length) ? 'dropdown' : ''}}">
          <a *ngIf="m.childPages === undefined" class="nav-link {{m.classes}}" aria-current="page" href="{{m.url || '#'}}" target="{{(m.url && m.url.startsWith('http')) ? '_blank' : '_self'}}">{{m.title}}</a>
          <div *ngIf="m.childPages?.length">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{m.title}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li *ngFor="let c of m.childPages"><div class="dropdown-item"><button *ngIf="c.url" class="btn btn-sm btn-success" (click)="goTo(c.url)">{{c.title}}</button><span *ngIf="!c.url" class="text-secondary">{{c.title}}</span> &nbsp;<a *ngIf="c.codeSourceUrl" class="bi bi-tools" href="{{c.codeSourceUrl}}" target="_blank" aria-label="View Sourcecode" data-bs-toggle="tooltip" data-bs-placement="top" title="View Sourcecode"> </a></div></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
